@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
* {
  padding: 0;
  margin: 0;
  text-decoration: none !important;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif !important;
  list-style: none;
}
.text_blue {
  color: #5f9ea0;
}
.input_design {
  border-radius: 4px !important;
  color: #a7a7a7 !important;
  font: medium !important;
  outline: none !important;
}
.Submit_btn {
  background: #5f9ea0 !important;
  border: none !important;
  padding: 12px 45px !important;
}
.Submit_btn:focus,
.Submit_btn:hover {
  animation: pulse 1s;
  box-shadow: 0 0 0 0.7em transparent;
}
@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 #5f9ea0;
  }
}
